
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Kinly</title>
    <meta name="description" content="A collection of highlights and notes from books and articles." />
  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'highlights/style.css' %}">
    <link rel="SHORTCUT ICON" href="/favicon.png" />
</head>
<body>
  <div id="root">
<main class="l-container l-container--shelf u-margin-top--xl">
<h1 class="u-antialiased">What I’ve been reading</h1>
<ul class="c-shelf">
{% for entry in entries %}
  <li class="c-shelf__volume">
  <a href="{% url 'entry' entry.id %}" class="c-shelf__link">
  <figure class="c-cover">
  <img srcSet="https://books.google.com/books?id={{entry.volume.google_id}}&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api 1x, https://books.google.com/books?id={{entry.volume.google_id}}&printsec=frontcover&img=1&zoom=3&edge=curl&source=gbs_api 2x" src="https://books.google.com/books?id={{entry.volume.google_id}}&printsec=frontcover&img=1&zoom=4&edge=curl&source=gbs_api" alt="{{entry.volume.title}}"/></figure>
  <h2 class="c-shelf__volume__title">{{ entry.volume.title}}</h2>
  </a>
  </li>
{% endfor %}
</ul>
</main>